*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #d8e0ff;
}

.imgBox{
    height: 350px;
    width: 350px;
    position: relative;
}

.imgBox span{
    position: absolute;
    inset: 0;
    background-image: url('cake.png');
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #fff; */
    transition: 0.6s;
}

.imgBox span:first-child{
    clip-path: polygon(0 100%,0 100%, 50% 50%, 0 0);
    /* background-color: red; */
}

.imgBox span:nth-child(2){
    clip-path: polygon(50% 0,100% 0, 50% 50%, 0 0);
    /* background-color: blue; */
}

.imgBox span:nth-child(3){
    clip-path: polygon(0 100%,100% 100%, 100% 100%, 50% 50%);
    /* background-color: green; */
}

.imgBox span:last-child{
    clip-path: polygon(50% 50%,100% 100%, 100% 50%, 100% 0);
    /* background-color: yellow; */
}

/* .imgBox span:hover{
    border-radius: 50%;
} */

.imgBox:hover span:first-child{
    transform: translate(-40px, 0);
}

.imgBox:hover span:nth-child(2){
    transform: translate(0, -40px);
}

.imgBox:hover span:nth-child(3){
    transform: translate(0,40px);
}

.imgBox:hover span:last-child{
    transform: translate(40px,0);
}